<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>


<h1>Editing voluntario_pessoa_fisica</h1>

<%= render 'form' %>

<%= link_to 'Show', @voluntario_pessoa_fisica %> 


</div>