<div id="corpo-site">
<%= link_to 'Cancelar', {:action => 'vermeucadastro', :id => @voluntario_pessoa_fisica}, :class => "botao_azul", :style => "float: right"  %>
<h1>Editar: Voluntário Pessoa Física</h1>
<%= render 'form' %>
</div>