<div id="corpo-site">
    <%= link_to 'Cancelar', {:action => 'vermeucadastro', :id => @voluntario_pessoa_juridica}, :class => "botao_azul", :style => "float: right"  %>
<h1>Editar: Voluntário Pessoa Jurídica</h1>
<%= render 'form' %>
</div>