<%= render 'home/menu' %>
<div id="corpo">
<%= render 'show' %>

<h1>Histórico</h1>
<h3>Novo Histórico</h3>
<%= render "historicos/formvpj" %>
<br />
<%= render @voluntario_pessoa_juridica.historicos %>
</div>
