<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'senhorjcis/menu' %>
<div id="corpo">

<table border=1>
  <th style='width:100px'> Tipo </th>
  <th> Nome </th> 
<% @entidades.each do |entidade| %>
  <tr>
    <td>Entidade</td>
    <td><%= link_to entidade.nome_ent, {:controller => "entidades", :action => "visualizado_ent", :id => entidade.id } %></td>
 </tr>
<% end %>
</table>
     <%= will_paginate @entidades %>
</div>