<div class='field'>
  <%= form.label :email, "Email:", :style => "width:100px" %>
  <%= form.text_field :email, :type => 'email' %>
</div>

<div class='field'>
  <%= form.label :password, "Senha:", :style => "width:100px" %>
  <%= form.password_field :password %>
</div>
