<div id="corpo-site" style="width:40%">
<h2>Cadastrar</h2>

<%= form_for @user do |form| %>
  <%= render :partial => '/users/form', :object => form %>
  <%= form.submit "Criar", :class => "botao_azul", :style => "float: right" %>
<% end %>
</div>