<div id="cadastro">
    <h1> Desejo me cadastrar como: </h1>
    <%= link_to "Voluntário Pessoa Física", new_voluntario_pessoa_fisica_path, :class => "botao" %><br />
    <%= link_to "Voluntário Pessoa Jurídica", new_voluntario_pessoa_juridica_path, :class => "botao" %><br />
    <%= link_to "Entidade", new_entidade_path, :class => "botao" %><br />
</div>
