<h1> Cadastrar </h1>
<%= link_to "Voluntario Pessoa Fisica", new_voluntario_pessoa_fisica_path %><br />
<%= link_to "Voluntario Pessoa Juridica", new_voluntario_pessoa_juridica_path %><br />
<%= link_to "Entidade", new_entidade_path %><br />

