<%= form_for([@voluntario_pessoa_fisica, @voluntario_pessoa_fisica.historicos.build]) do |f| %>
  <div class="field">
    <%= f.label :descricao_hist %><br />
    <%= f.text_field :descricao_hist %>
  </div>
  <div class="actions">
    <%= f.submit 'vpf'%>
  </div>
<% end %>
