<%= form_for([@entidade, @entidade.historicos.build]) do |f| %>
  <div class="field" style="float: left;">
    <%= f.label :descricao_hist, "Descricão" %>
    <%= f.text_field :descricao_hist %>
  </div>
  <div class="actions">
  	<!-- NAO ALTERAR NOME DO BOTAO, SENDO USADO NO CONTROLLER -->
    <%= f.submit 'Historico Entidade', :class => "botao_verde", :style => "margin:12px 0 0 20px" %>
  </div>
  <div style="clear: both"></div>
<% end %>
