<%= form_for([@entidade, @entidade.historicos.build]) do |f| %>
  <div class="field">
    <%= f.label :descricao_hist %><br />
    <%= f.text_field :descricao_hist %>
  </div>
  <div class="actions">
    <%= f.submit 'ent'%>
  </div>
<% end %>
