<%= form_for([@entidade, @entidade.historicos.build]) do |f| %>
  <div class="field">
    <%= f.label :descricao_hist, "Descricão" %>
    <%= f.text_field :descricao_hist %>
  </div>
  <div class="actions">
    <%= f.submit 'Historico Entidade', :class => "botao_verde" %>
  </div>
<% end %>
