<p>
<%= historico.descricao_hist %>
<%= if @entidade 
		button_to('Excluir',[historico.entidade, historico],
               :confirm => 'Are you sure?',
               :method => "destroy_ent")
 	elsif @voluntario_pessoa_fisica
		button_to('Excluir', [historico.voluntario_pessoa_fisica, historico],
               :confirm => 'Are you sure?',
               :method => "destroy_pf")
	elsif @voluntario_pessoa_juridica
		button_to('Excluir', [historico.voluntario_pessoa_juridica, historico],
               :confirm => 'Are you sure?',
               :method => "destroy_pj")
	end
 %>
</p>
