<div id="corpo-site">
<%= link_to 'Cancelar', {:action => 'vermeucadastro', :id => @entidade}, :class => "botao_azul", :style => "float: right" %> 
<h1>Editar: Entidade</h1>
<%= render 'form' %>
</div>