<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>


<h1>Editing entidade</h1>

<%= render 'form' %>

<%= link_to 'Show', @entidade %> |

</div>