<div id="corpo-site">
<%= link_to 'Atualizar Cadastro', {:action => 'editarmeucadastro', :id => @entidade}, :class => "botao_azul", :style => "float: right" %> 
<p id="notice"><%= notice %></p>
<%= render 'show' %>
</div>