<p>Olá <%= @resource.email %>!</p>

<p>Este email foi enviado pelo Canal de Voluntários JCI</p>
<p>Alguem requisitou um link para mudar sua senha, caso você tenha requisitado esse email, clique no link abaixo para mudar sua senha</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requisitou esse email, por favor ignore esse email</p>
<p>Seu email não será alterado caso você não acesse o link abaixo</p>